$TTL  1D
@	IN  SOA dns.ocp4.example.com. root.example.com. (
		2019022400 ; serial
		3h	   ; refresh
		15	   ; retry
		1w	   ; expire
		3h	   ; minimum
		)
		IN NS dns.ocp4.example.com.

bootstrap  					IN A {{ bootstrap.ip }}
*.apps						IN A {{ node.ip }}
api							IN A {{ node.ip }}
api							IN A {{ bootstrap.ip }}
api-int						IN A {{ node.ip }}
api-int						IN A {{ bootstrap.ip }}
{{ node.name }} 			IN A {{ node.ip }}
etcd-0						IN A {{ node.ip }}

; End of {{ node.cluster }}.example.com.zone
