# Rename this file to vault and add root's password here. 
# Run ansible-vault create to generate the correspondent vaulted key
# It is supposed to have sudo permissions as Ansible requires you to do so.
ansible_user: root
ansible_ssh_pass: xxxxxxxxx