$TTL  1D
@	IN  SOA dns.ocp4.example.com. root.example.com. (
		2019022400 ; serial
		3h	   ; refresh
		15	   ; retry
		1w	   ; expire
		3h	   ; minimum
		)
		IN NS dns.ocp4.example.com.

api		IN A {{ clusters[domain_name].api_lb_ip }}
{% if clusters[domain_name].is_openshift %}
api-int		IN A {{ clusters[domain_name].api_lb_ip }}
*.apps		IN A {{ clusters[domain_name].apps_lb_ip }}
{% endif %}

{% for node in clusters[domain_name].nodes %}
{{ node.name }} IN A {{ node.ip }}
{% endfor %}

; End of {{ domain_name }}.example.com.zone
