apiVersion: v1
baseDomain: example.com
metadata:
  name: {{ node.cluster }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
networking:
  clusterNetworks:
  - cidr: 10.8.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 172.25.254.0/24
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: /dev/sda
fips: false
pullSecret: |
  {{ lookup('file',playbook_dir+"/files/pull-secret") }}
sshKey: |
  {{ lookup('file', playbook_dir+"/files/id_rsa.pub") }}
