apiVersion: v1beta4
baseDomain: example.com
metadata:
  name: {{ node.cluster }}
networking:
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
platform:
  none: {}
BootstrapInPlace:
  InstallationDisk: /dev/sda
pullSecret: "{{ lookup('file',playbook_dir+"/files/pull-secret") }}
sshKey: |
  "{{lookup('file', playbook_dir+"/files/id_rsa.pub")}}"
