variant: openshift
version: 4.13.0
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: master
ignition:
  config:
    merge:
      - local: master.ign
storage:
  files:
    - path: /etc/zincati/config.d/90-disable-feature.toml
      mode: 0644
      contents:
        inline: |
          [updates]
          enabled = false
    - path: /etc/systemd/network/25-{{ node.network_adapter }}.link
      mode: 0644
      contents:
        inline: |
          [Match]
          MACAddress={{node.mac}}
          [Link]
          Name={{ node.network_adapter }}
    - path: /etc/NetworkManager/system-connections/{{ node.network_adapter }}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          type=ethernet
          interface-name={{ node.network_adapter }}
          
          [ethernet]
          mac-address={{ node.mac }}
          
          [ipv4]
          method=manual
          addresses={{ node.ip }}/24
          gateway=172.25.254.250
          dns=172.25.254.250
          dns-search={{ node.cluster }}.example.com
    - path: /etc/hostname
      mode: 0420
      overwrite: true
      contents:
        inline: |
          {{ node.name }}.{{ node.cluster }}.example.com      
systemd:
  units:
  - contents: |
      [Unit]
      Description=Wipe Boot Disk After BootKube Completes
      Wants=bootkube.service
      After=bootkube.service
      ConditionPathExists=/opt/openshift/.bootkube.done

      [Service]
      WorkingDirectory=/
      ExecStart=/bin/bash -c "/usr/sbin/wipefs -af {{ node.bootstrap_disk }} && /usr/sbin/reboot"

      [Install]
      WantedBy=multi-user.target
    enabled: true
    name: wipe-boot-dev.service
