variant: openshift
version: 4.13.0
metadata:
  name: 01-master-network-{{ node.network_adapter }}
  labels:
    machineconfiguration.openshift.io/role: master
storage:
  files:
    - path: /etc/NetworkManager/system-connections/{{ node.network_adapter }}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          id={{ node.network_adapter }}
          type=ethernet
          interface-name={{ node.network_adapter }}

          [ethernet]
          mtu=1500

          [ipv4]
          address1={{ node.ip }}/24,172.25.254.250
          dhcp-hostname=node
          dns=172.25.254.250;
          may-fail=false
          method=manual

          [ipv6]
          method=disabled

    - path: /etc/hostname
      mode: 0644
      overwrite: true
      contents:
        inline: |
          {{ node.name }}.{{ node.cluster }}.example.com
systemd:
  units:
  - contents: |
      [Unit]
      Description=Wipe Boot Disk After BootKube Completes
      Wants=bootkube.service
      After=bootkube.service
      ConditionPathExists=/opt/openshift/.bootkube.done

      [Service]
      WorkingDirectory=/
      ExecStart=/bin/bash -c "/usr/sbin/wipefs -af {{ node.bootstrap_disk }} && /usr/sbin/reboot"

      [Install]
      WantedBy=multi-user.target
    enabled: true
    name: wipe-boot-dev.service