variant: openshift
version: 4.9.0
metadata:
  name: 01-master-network-{{ node.network_adapter }}
  labels:
    machineconfiguration.openshift.io/role: master
storage:
  files:
    - path: /etc/NetworkManager/system-connections/{{ node.network_adapter }}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          id={{ node.network_adapter }}
          type=ethernet
          interface-name={{ node.network_adapter }}

          [ethernet]
          mtu=1500

          [ipv4]
          address1={{ node.ip }}/24,172.25.254.250
          dns=172.25.254.250;
          method=manual

          [ipv6]
          method=disabled

    - path: /etc/hostname
      mode: 0644
      overwrite: true
      contents:
        inline: |
          {{ node.name }}.{{ node.cluster }}.example.com
