default pxeboot
prompt 0
timeout 86400
menu title **** OpenShift {{ ocp_z }} Cluster "{{ node.cluster }}" PXE Menu ****

label Install CoreOS {{ rhcos_ver }} for a {{ node.cluster }} node
 kernel {{ images_url }}/rhcos-{{ rhcos_ver }}-x86_64-live-kernel-x86_64
 append ip={{ node.ip }}::192.168.50.254:255.255.255.0:{{ node.name }}.{{ node.cluster }}.example.com:{{ node.network_adapter }}:none:192.168.50.254 rd.neednet=1 console=tty0 initrd={{ images_url }}/rhcos-{{ rhcos_ver }}-x86_64-live-initramfs.x86_64.img,{{ images_url }}/rhcos-{{ rhcos_ver }}-x86_64-live-rootfs.x86_64.img ignition.config.url={{ ignitions_url }}/{{ node.cluster }}-{{ node.name }}.ign random.trust_cpu=on ignition.firstboot ignition.platform.id=metal
