variant: openshift
version: 4.13.0
metadata:
  name: config-bip
  labels:
    machineconfiguration.openshift.io/role: master
storage:
  files: 
    - path: /opt/openshift/openshift/98_openshift-machineconfig_98-master-config-bip.yaml
      mode: 0644
      contents:
        inline: |
          apiVersion: machineconfiguration.openshift.io/v1
          kind: MachineConfig
          metadata:
            name: config-bip
            labels:
              machineconfiguration.openshift.io/role: master
          storage:
            files:
              - path: /etc/zincati/config.d/90-disable-feature.toml
                mode: 0644
                contents:
                  inline: |
                    [updates]
                    enabled = false
              - path: /etc/systemd/network/25-{{ node.network_adapter }}.link
                mode: 0644
                contents:
                  inline: |
                    [Match]
                    MACAddress={{ node.mac | replace('-',':') }}
                    [Link]
                    Name={{ node.network_adapter }}
              - path: /etc/NetworkManager/system-connections/{{ node.network_adapter }}.nmconnection
                mode: 0600
                overwrite: true
                contents:
                  inline: |
                    [connection]
                    id={{ node.network_adapter }}
                    type=ethernet
                    interface-name={{ node.network_adapter }}

                    [ethernet]
                    mac-address={{ node.mac | replace('-',':') }}
                    mtu=1500

                    [ipv4]
                    address1={{ node.ip }}/24,172.25.254.250
                    dhcp-hostname=node
                    dns=172.25.254.250;
                    may-fail=false
                    method=manual

              - path: /etc/hostname
                mode: 0644
                overwrite: true
                contents:
                  inline: |
                    {{ node.name }}.{{ node.cluster }}.example.com

              - path: /etc/chrony.conf
                mode: 0644
                overwrite: true
                contents:
                  inline: |
                    pool {{ node.ip }} iburst 
                    driftfile /var/lib/chrony/drift
                    makestep 1.0 3
                    rtcsync
                    logdir /var/log/chrony
systemd:
  units:
    - contents: |
        [Unit]
        Description=Make File System on {{ node.temp_disk }}
        DefaultDependencies=no
        BindsTo=dev-{{ node.temp_disk }}.device
        After=dev-{{ node.temp_disk }}.device var.mount
        Before=systemd-fsck@dev-{{ node.temp_disk }}.service
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/lib/systemd/systemd-makefs ext4 /dev/{{ node.temp_disk }}
        TimeoutSec=0
        [Install]
        WantedBy=hostpath.mount
      enabled: true
      name: systemd-mkfs@dev-{{ node.temp_disk }}.service
    - contents: |
        [Unit]
        Description=Mount /dev/{{ node.temp_disk }} to /var/hostpath
        Before=local-fs.target
        Requires=systemd-mkfs@dev-{{ node.temp_disk }}.service
        After=systemd-mkfs@dev-{{ node.temp_disk }}.service
        [Mount]
        What=/dev/{{ node.temp_disk }}
        Where=/var/hostpath
        Type=ext4
        Options=defaults
        [Install]
        WantedBy=local-fs.target
      enabled: true
      name: var-hostpath.mount
    - contents: |
        [Unit]
        Description=Clear Journal to Remove Corrupt File
        DefaultDependencies=no
        After=kubelet.service
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=bash -c "/usr/bin/journalctl --rotate && /usr/bin/journalctl --vacuum-time=1s"
        TimeoutSec=0
        [Install]
        WantedBy=multi-user.target
      enabled: true
      name: systemd-clear-journal.service